@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500;900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family:quicksand;
  
}

body{
  min-width:100%;
  min-height: 100%;
  transition: font-size 1s;
  background-color: #000000;
}
.imagemfundo{
  width: 100%;
  
   position: absolute;
     top: 0;
     margin-left: 1px;
     left: 0;
     z-index: -1;
     background-color: #000000;
     opacity: 0.54;
 }
.oi{
  background-color: #000;
}
.cima{
  
  width: 100%;
  height: auto;
  display: flex;
  justify-content:left;
  border-bottom: solid 2px #026df8 ;
  padding-bottom: 30px;
  background-color: #000;
  opacity: 0.80;
}
.trabalhe{
  font-size: 20px;
}
.imagemfundoc{
  display: none;
}
.logotipo{
width: 30%;
display: flex;
place-items: center;
flex-direction: row;
justify-content: center;
font-size: 50PX;
font-family: Impact;
color: #ffffff;
margin-top: 20px;

}
.logopeixe{
  width: 100px;
}


.textologo{
  font-size: 40px;
  color: #ffffff;
}
.menu{
width: 70%;
display: flex;
place-items: center;
flex-direction: row;
justify-content: space-evenly;
margin-top: 28px;

}
a{
  text-decoration: none;
  color: #469CF7;
  font-size: 30px;
  

}
.reserva{
  text-decoration: underline;
  
}
.restaurante{
  color: #eed8d8;
  font-weight: bold;
  
}

.meio-tela{
  width: 90%;
  display: flex;
  height: 600px;
  
}
.assunto{
  width: 90%;
margin-left: 100px;
color: #000000;
text-shadow: 2px 2px #000000
justify-content: center;
}

.restaurante{
  color: #026df8;
}

.titulo-principal{
  font-size: 80px;
  margin-top: 5vw;
  font-weight: bolder;
  color: #ffffff;
  text-shadow: 2px 2px #000000
}
.assunto-pequeno{
  font-size: 30px;
  color: #ffffff;
  width: 40vw;
  margin-top: 3vw;
  margin-bottom: 2vw;
}
.nome input {
  width: 40vw;
  height: 30px;
  background: transparent;
  border: none;
  font-size: 22px;
  font-weight: bolder;
}
.nome{
  width: 40vw;
  height: 30px;
  padding: 8px 12px;
  background: white;
  border-radius: 30px;
  margin-top: 20px;
  border: solid #0E2A56;
}


.email{
  width: 40vw;
  height: 30px;
  padding: 8px 12px;
  background: white;
  border-radius: 30px;
  margin-top: 20px;
  border: solid #0E2A56;
  margin-bottom: 15px;
}

.email input{
  width: 40vw;
  height: 30px;
  background: transparent;
  border: none;
  font-size: 22px;
  font-weight: bolder;
  
}
.enviar{
  display: flex;
  
  padding: 8px 12px;
  background: #026df8;
  border-radius: 30px;
  width: 130px;
  border: solid 1px #000;
  justify-content: center;
  cursor: pointer;
}
.enviar input{
  width: 21vw;
  height: 45px;
  background: transparent;
  border: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.bagre{
  width: 600px;
  border-radius: 40px;
}

.menu a:hover{
 transform: scale(1.1,1.1);
 transition: 1s;
}

.email input:focus{
  box-shadow: 0 0 0 0 ;
  border: 0 none;
  outline: 0;
}
.nome input:focus{
  box-shadow: 0 0 0 0 ;
  border: 0 none;
  outline: 0;
}
@media (max-width: 1250px){
  html{
    
   
  }
.imagemfundoc{
  display: block;
  width: 100%;
   position: absolute;
     top: 30vw;
     margin-left: 1px;
     left: 0;
     z-index: -1;
     background-color: #000000;
     opacity: 0.54;
}
  .imagemfundo{
    display: none;
  }
  header .cima{
    width: max-content;
    justify-self: center;
    
  }
  .textologo{
    font-size: 7vh;
  }
  .cima{
    height: auto;
    display: block;
    justify-content: center;
    opacity: 0.9;
  }
  .logotipo{
    
    width: 100%;
  }
  .menu{
    justify-content: space-evenly;
    width: 100%;
  }
  .imagem{
    display: none;
  }
  .trabalhe{
    font-size: 4vw;
  }
  a{
    font-size: 3.5vw;
  }
  .titulo-principal{
    font-size: 8vw;
    width: 100%;
  }
  .assunto-pequeno{
    font-size: 4vw;
    width: 100%;
  }
  .logotipo{
    font-size: 10vw;
  }

  .email, .email input, .nome, .nome input{
    height: 5vh;
  }
}
@media (max-width: 650px){

  .imagemfundoc{
    display: none;

  }
  .titulo-principal{
    margin-left: 10px;
    font-size: 10vw;
  }
  .meio-tela{
    width: 100%;
    
  }
  .titulo-principal{
    width: 100%;
  }
  .assunto{
    width: 95%;
    margin: 0 0 0 0;
    
  }
  .textologo{
    font-size: 4vh;
  }
  .assunto-pequeno{
    margin-left: 10px;
    font-size: 3vh;
  }

  .email, .email input, .nome, .nome input{
    width: 85%;
    margin-left: 10px;
  }
  .enviar{
    width: 40%;
    margin-left: 10px;
  
  }
  div a:hover{
    transform: scale(1.1,1.1);
    transition: 1s;
   }
   


  


