*{
  margin: 0;
  padding: 0;
  font-family:quicksand;
  
}
body{
  min-width:100%;
  min-height: 100%;
  transition: font-size 1s;
  background-color: #e7e7e7;
}
  .cima{
  
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    border-bottom: solid 2px #026df8 ;
    padding-bottom: 30px;
    background-color: #000;
    margin-top: -20px;
  }
 
  .textologo{
    font-size: 40px;
    color: #ffffff;
  }
  .logotipo{
  width: 30%;
  display: flex;
  place-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 50PX;
  font-family: Impact;
  color: #ffffff;
  margin-top: 20px;
  
  }
  .logopeixe{
    width: 100px;
  }
  
  .menu{
  width: 70%;
  display: flex;
  place-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 28px;
  }
  a{
    text-decoration: none;
    color: #469CF7;
    font-size: 30px;
  }
  .reserva{
    text-decoration: underline;
  }
  .menu a:hover{
    transform: scale(1.1,1.1);
    transition: 1s;
  }
  .divfotoPrato{
width: 100%;
display: block;
  }
  .fotoPrato{
width: 100%;
height: 300px;
border-bottom: #000 solid 1px;
filter: brightness(0.40);
  }
.main1{
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3vw;
  margin-bottom: 3VW;
}
h2{
  font-family: 'lobster', cursive;
  font-size: 50px;
  padding-bottom: 1vw;
}
.txt1 {
  font-size: 25px;
}
.politicap{
  color: #026df8;
  font-size: 20px;
}
.txt2{
  font-size: 20px;
}
strong{
  font-weight: bolder;
}
.main2{
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5VW;
  font-size: 10px;
  font-weight: bold;
}
input[type=text] {
  width: 60%;
  padding: 5px 13px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  margin-left: 2vw;
}
.cargo{
  width: auto;
  max-width: 40%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  margin: 8px 0;
  border: solid #000 1px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-left: 2vw;
}
label{
  font-size: 20px;
  font-weight: bold;
  margin-left: 2vw;
}
input[type=file] {
  width: 60%;
  padding: 10px 16px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  margin-top:20px;
  
}
.dor{
  display: flex;
  margin-top: 10px;
}
.labelcoment{
width: 20%;

}
.comentario{
 height: 6vw;
 width: 50%;
 margin-left: 2vw;
 font-size: 18PX;
 font-weight: bolder;
 padding: 5px 5px;

}
.enviar{
justify-content: flex-end;
}
input[type=submit] {
  cursor: pointer;
  border: solid #026df8 3px;
  color: #ffffff;
  background: #026df8;
  width: 20%;
  padding: 5px 13px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  margin-left: 2vw;
}
input[type=submit]:hover{
  color: #026df8;
  background: transparent;
  border: solid 3px #026df8;
  transition: 1s;
  transform: scale(1.1,1.1);
}
.wzap{
  width: 10vw;
  position: fixed;
    display: block;
    top: 150px;
    left: 10px;
    width: 60px;
    height: 60px;
    background-image: url(imagens/vecteezy_whatsapp-logo-icon_24996543_361.png);
    background-size: cover;
    z-index: 9999;
}
.footer{
  width: 100%;
  background-color: #002a85;
  height: auto ;
  display: flex;
  padding: 20px 25px;
  justify-content: space-between;
  color: #ffffff;
}
.horario{
  width: 30%;
  margin-left: 2vw;
}
.emailbaixo{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  
}
.socials{
  width: 25%;
}
form input[type=email]{
  width: 40%;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 10px;
  padding-left: 5px;
}
form input[type=button]{
  width: 20%;
  font-size: 15px;
  background-color: #000;
  color: #ffffff;
  border: solid #000000 1px;
  border-radius: 50px;
}
.politica{
font-size: 17px;
color: #ffffff;
cursor: pointer;
}
.sociais{
  margin-top: 20px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  
}
ul a img{
  width: 50px;
  
}
.mapa{
  width: 30%;
}
  @media (max-width: 1250px){
   
   
    header .cima{
      width: max-content;
      justify-self: center;
      margin-top: 0px;
     
    }
    .cima{
      height: auto;
      display: block;
      justify-content: center;
      opacity: 0.9;
     
      
    }
    .fotoPrato{
      display: none;
    }
    .textologo{
      font-size: 7vh;
    }
      .logotipo{
      
      width: 100%;
    }
    .menu{
      justify-content: space-evenly;
      width: 100%;
    }
    a{
      font-size: 3.5vw;
    }
    h2{
      font-size: 5vh;
    }
    .main2 {
      font-size: 2vw;
    }
    input[type=file]{
      width: 100%;
    }
  
  .comentario{
    width: 80%;}
  
  input[type=submit]{
width: 80%;
  }
  .footer{
    display: grid;
  }
  .horario{
    width: 90%;
    
  }
  .horario p{
    font-size: 1vw;
  }
  .socials{
    width: 90%;
    margin-bottom: 20px;
    justify-content:space-evenly
  }
  
  .mapa{
    width: 90%;
  }


}